# Gradle
build
.gradle

# MacOs
.DS_Store

# IDE
*.iml
.idea/caches
.idea/dictionaries
.idea/markdown-navigator/
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/uiDesigner.xml
.idea/**/libraries
.idea/**/gradle.xml
.idea/**/workspace.xml
local.properties
